*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
/.idea
/.vscode
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/coverage
Thumbs.db
